body{
    box-shadow: 20px 20px 50px 10px pink inset;
}

.c1{
    box-shadow: 20px 20px 50px 10px pink inset;
}

h1, h2{
    box-shadow: 20px 20px 50px 10px pink inset;
}

p{
    box-shadow: 20px 20px 50px 10px pink inset;
}
